.chart{
	position: relative;
	top: 15px;
}

@media screen and (max-width: 500px) {
.chart{
	position: relative;
	top: 45px;
}
}

.time-buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

@media screen and (max-width: 500px) and (max-height: 920px) {
.time-buttons{
	position: relative;
	top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
}

@media screen and (max-width: 500px) and (max-height: 670px) {
.time-buttons{
	position: relative;
	top: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
}

.button{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	text-align: center;
	color: #1877f2;
	background-color: #ffffff;
	padding: 6px;
	width: 40px;
	border: 1px solid #1877f2;
	border-radius: 5px;
	font-size: 15px;
}

.button-clicked{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background-color: #1877f2;
	padding: 6px;
	width: 40px;
	border: 1px solid #1877f2;
	border-radius: 5px;
	font-size: 15px;
}