.grid-container{
	display: grid;
	grid-template-areas:	
	"m c c c c c c c c c s s"
	"m c c c c c c c c c s s"
	"a f f f f f f f f f f f";
	grid-template-rows: 285px 285px 80px;
}

* {
	padding: 0px;
	margin: 0px;
}

@media screen and (max-width: 500px){
	.spazio{
		display: none;
	}
	.altroSpazio{
		display: none;
	}
	.footer{
		display: none;
	}
}


@media screen and (max-width: 500px) and (max-height: 920px){
	.grid-container{
		grid-template-areas:
		"c"
		"m";
		grid-template-rows: 790px 120px;
	}
}

@media screen and (max-width: 500px) and (max-height: 860px){
	.grid-container{
		grid-template-areas:
		"c"
		"m";
		grid-template-rows: 750px 100px;
	}
}

@media screen and (max-width: 500px) and (max-height: 750px){
	.grid-container{
		grid-template-areas:
		"c"
		"m";
		grid-template-rows: 655px 90px;
	}
}

@media screen and (max-width: 500px) and (max-height: 675px){
	.grid-container{
		grid-template-areas:
		"c"
		"m";
		grid-template-rows: 580px 85px;
	}
}

.grid-item{
	background-color: #ffffff;
}

.menu{
	grid-area: m;
	background-color: #e6e6e6;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

@media screen and (max-width: 500px){
.menu{
	background-color: #e6e6e6;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
}

.titoloPagina{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 30px;
}

.homemex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

.results{
	position: relative;
	top: 50px;
	left: 70px;
	overflow-y: auto;
	height: 450px;
}

#usLink{
	text-decoration: none;
	color: inherit;
}

.imgUser{
	height: 50px;
	width: 50px;
}

.imgExistUser{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.user{
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px;
	width: 330px;
	border-radius: 10px;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	display: inline-block;
	position: relative;
	left: 10px;
	bottom: 14px;
}

.alertNewMexs {
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	color: #f02849;
	display: inline-block;
	position: absolute;
	left: 70px;
	bottom: 1px;
}

.bi {
	font-size: 25px;
	color: #1877f2;
}

.bi:hover {
  color: black;
}

.bi-trash{
	color: #ff0000;
	display: inline-block;
	position: absolute;
	left: 280px;
	bottom: 15px;
}

.bi-trash:hover{
	color: #ff9999;
}

@media screen and (max-width: 500px) and (max-height: 920px) {
.titoloPagina{
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 30px;
}

.homemex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
}

.results{
	position: relative;
	top: 50px;
	left: 30px;
	overflow-y: auto;
	height: 650px;
}

.user{
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px;
	height: 65px;
	width: 280px;
	border-radius: 10px;
}

.imgUser{
	height: 62px;
	width: 62px;
}

.imgExistUser{
	height: 62px;
	width: 62px;
	border-radius: 50%;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 28px;
	display: inline-block;
	position: relative;
	left: 10px;
	bottom: 28px;
}

.alertNewMexs {
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	color: #f02849;
	display: inline-block;
	position: absolute;
	left: 78px;
	bottom: 6px;
}

.bi {
	font-size: 30px;
	color: #1877f2;
}

.bi-trash{
	color: #ff0000;
	display: inline-block;
	position: absolute;
	left: 240px;
	bottom: 20px;
}
}

@media screen and (max-width: 500px) and (max-height: 860px) {
.homemex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 28px;
}

.results{
	position: relative;
	top: 50px;
	left: 30px;
	overflow-y: auto;
	height: 620px;
}

.bi {
	font-size: 28px;
	color: #1877f2;
}

.bi-trash{
	color: #ff0000;
	display: inline-block;
	position: absolute;
	left: 240px;
	bottom: 20px;
}
}

@media screen and (max-width: 500px) and (max-height: 750px) {
.titoloPagina{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 30px;
}

.homemex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
}

.results{
	position: relative;
	top: 50px;
	left: 30px;
	overflow-y: auto;
	height: 540px;
}

.user{
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px;
	height: 55px;
	width: 260px;
	border-radius: 10px;
}

.imgUser{
	height: 55px;
	width: 55px;
}

.imgExistUser{
	height: 55px;
	width: 55px;
	border-radius: 50%;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	display: inline-block;
	position: relative;
	left: 10px;
	bottom: 28px;
}

.alertNewMexs {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #f02849;
	display: inline-block;
	position: absolute;
	left: 74px;
	bottom: 6px;
}

.bi {
	font-size: 26px;
	color: #1877f2;
}

.bi-trash{
	color: #ff0000;
	display: inline-block;
	position: absolute;
	left: 230px;
	bottom: 16px;
}	
}

@media screen and (max-width: 500px) and (max-height: 675px) {
.titoloPagina{
	font-family: 'Ubuntu', sans-serif;
	font-size: 38px;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 30px;
}

.homemex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
}

.results{
	position: relative;
	top: 50px;
	left: 30px;
	overflow-y: auto;
	height: 475px;
}

.user{
	position: relative;
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px;
	height: 50px;
	width: 250px;
	border-radius: 10px;
}

.imgUser{
	height: 50px;
	width: 50px;
}

.imgExistUser{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	display: inline-block;
	position: relative;
	left: 10px;
	bottom: 28px;
}

.alertNewMexs {
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	color: #f02849;
	display: inline-block;
	position: absolute;
	left: 70px;
	bottom: 6px;
}

.bi {
	font-size: 25px;
	color: #1877f2;
}

.bi-trash{
	color: #ff0000;
	display: inline-block;
	position: absolute;
	left: 220px;
	bottom: 16px;
}	
}

.chats{
	grid-area: c;
}

.spazio{
	grid-area: s;
}

.altroSpazio{
	grid-area: a;
	background-color: #e6e6e6;
}

.footer{
	grid-area: f;
}