.grid-container{
	display: grid;
	grid-template-areas:	
	"m p p p p p p p p p s s"
	"m p p p p p p p p p s s"
	"a f f f f f f f f f f f";
	grid-template-rows: 285px 285px 80px;
}

* {
	padding: 0px;
	margin: 0px;
}

@media screen and (max-width: 500px){
	.spazio{
		display: none;
	}
	.altroSpazio{
		display: none;
	}
	.footer{
		display: none;
	}
}

@media screen and (max-width: 500px) and (max-height: 920px){
	.grid-container{
		grid-template-areas:
		"p"
		"m";
		grid-template-rows: 790px 120px;
	}
}

@media screen and (max-width: 500px) and (max-height: 860px){
	.grid-container{
		grid-template-areas:
		"p"
		"m";
		grid-template-rows: 750px 100px;
	}
}

@media screen and (max-width: 500px) and (max-height: 750px){
	.grid-container{
		grid-template-areas:
		"p"
		"m";
		grid-template-rows: 655px 90px;
	}
}

@media screen and (max-width: 500px) and (max-height: 675px){
	.grid-container{
		grid-template-areas:
		"p"
		"m";
		grid-template-rows: 580px 85px;
	}
}

.grid-item{
	background-color: #ffffff;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 30px;
}

.bi {
	font-size: 25px;
	color: #1877f2;
}

.bi:hover {
  color: black;
}

.profilo{
	grid-area: p;
}

.flexContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img.imgImpProfile{
	height: 170px;
	width: 170px;
	border-radius: 50%;
}

@media screen and (max-width: 500px){
img.imgImpProfile{
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
}

.imgProfile{
	height: 160px;
	width: 170px;
}

@media screen and (max-width: 500px){
.imgProfile{
	height: 140px;
	width: 150px;
}
}

.delImgIcon{
	position: relative;
	top: -170px;
	right: -40px;
	background-color: white;
	height: 15px;
	width: 15px;
	padding: 6px;
	border-radius: 50%;
}

.bi-x{
	position: absolute;
	left: 1px;
	top: 1px;
	color: #ff0000;
	cursor: pointer;
}

@media screen and (max-width: 500px){
.delImgIcon{
	position: relative;
	top: -155px;
	right: -35px;
	background-color: white;
	height: 15px;
	width: 15px;
	padding: 6px;
	border-radius: 50%;
}

.bi-x{
	position: absolute;
	left: 0px;
	top: 3px;
	color: #ff0000;
	cursor: pointer;
}
}

.bi-x:hover{
	color: #ff9999;
}

.mex{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #ffffff;
	background-color: #1877f2;
	font-size: 15px;
	padding: 10px 25px;
	border-radius: 5px;
	width: 120px;
	cursor: pointer;
	margin: 10px;
}

input[type=file]{
	display: none;
}

.passButton{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #ffffff;
	background-color: #1877f2;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	margin: 5px;
}

.succMod {
	font-family: 'Ubuntu', sans-serif;
	color: #00cc00;
	font-size: 20px;
}

@media screen and (max-width: 500px){
.succMod {
	font-family: 'Ubuntu', sans-serif;
	color: #00cc00;
	font-size: 15px;
}
}

.popup{
	width: 250px;
	height: 350px;
	background: #ffffff;
	margin: 40px auto;
	padding: 10px 15px;
	position: relative;
	color: #000000;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5); /* colore sfondo e opcità */
	text-align: center;
	display: none;
}

@media screen and (max-width: 500px){
.popup{
	width: 200px;
	height: 300px;
	background: #ffffff;
	margin: 40px auto;
	padding: 10px 15px;
	position: relative;
	color: #000000;
}
}

#errMex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	color: #f02849;
}

.bi-x-lg{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modifica{
	font-family: 'Ubuntu', sans-serif;
	background-color: #1877f2;
	border: none;
	padding: 10px;
	width: 100px;
	border-radius: 5px;
	font-size: 15px;
	color: #ffffff;
	cursor: pointer;
}

.fom input[type=text],.fom input[type=password]{
	border: 1px solid GrayText;
	padding: 15px;
	width: 200px;
	margin: 4px;
	border-radius: 10px;
	font-size: 17px;
	font-family: 'Ubuntu', sans-serif;
}

@media screen and (max-width: 500px) {
	.fom input[type=text],.fom input[type=password]{
	border: 1px solid GrayText;
	padding: 10px;
	width: 160px;
	margin: 4px;
	border-radius: 10px;
	font-size: 14px;
	font-family: 'Ubuntu', sans-serif;
}
}

h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
	color: #1877f2;
}

h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

@media screen and (max-width: 500px) and (max-height: 920px) {
h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 50px;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 30px;
}

.bi {
	font-size: 30px;
	color: #1877f2;
}

img.imgImpProfile{
	height: 190px;
	width: 190px;
	border-radius: 50%;
}

.imgProfile{
	height: 180px;
	width: 190px;
}

.delImgIcon{
	position: relative;
	top: -195px;
	right: -45px;
	background-color: white;
	height: 22px;
	width: 22px;
	padding: 8px;
	border-radius: 50%;
}

.bi-x{
	position: absolute;
	left: 2px;
	top: 6px;
	color: #ff0000;
	cursor: pointer;
}

.mex{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #ffffff;
	background-color: #1877f2;
	font-size: 20px;
	padding: 10px 25px;
	border-radius: 5px;
	height: 25px;
	width: 150px;
	cursor: pointer;
	margin: 10px;
}

.passButton{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #ffffff;
	background-color: #1877f2;
	font-size: 17px;
	padding: 10px 25px;
	border-radius: 5px;
	height: 25px;
	width: 150px;
	cursor: pointer;
	margin: 5px;
}

.succMod {
	font-family: 'Ubuntu', sans-serif;
	color: #00cc00;
	font-size: 20px;
}

.popup{
	width: 270px;
	height: 390px;
	background: #ffffff;
	margin: 40px auto;
	padding: 10px 15px;
	position: relative;
	color: #000000;
}


#errMex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	color: #f02849;
}

.bi-x-lg{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modifica{
	font-family: 'Ubuntu', sans-serif;
	background-color: #1877f2;
	border: none;
	padding: 10px;
	height: 40px;
	width: 130px;
	border-radius: 5px;
	font-size: 18px;
	color: #ffffff;
	cursor: pointer;
}

.fom input[type=text],.fom input[type=password]{
	border: 1px solid GrayText;
	padding: 10px;
	height: 25px;
	width: 180px;
	margin: 4px;
	border-radius: 10px;
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
}

h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	color: #1877f2;
}

h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
}	
}

@media screen and (max-width: 500px) and (max-height: 860px) {
.bi {
	font-size: 28px;
	color: #1877f2;
}

.bi-x{
	position: absolute;
	left: 2px;
	top: 6px;
	color: #ff0000;
	cursor: pointer;
}

.succMod {
	font-family: 'Ubuntu', sans-serif;
	color: #00cc00;
	font-size: 18px;
}
}

@media screen and (max-width: 500px) and (max-height: 750px) {
h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 30px;
}

.bi {
	font-size: 26px;
	color: #1877f2;
}

img.imgImpProfile{
	height: 170px;
	width: 170px;
	border-radius: 50%;
}

.imgProfile{
	height: 160px;
	width: 170px;
}

.delImgIcon{
	position: relative;
	top: -175px;
	right: -45px;
	background-color: white;
	height: 20px;
	width: 20px;
	padding: 7px;
	border-radius: 50%;
}

.bi-x{
	position: absolute;
	left: 2px;
	top: 6px;
	color: #ff0000;
	cursor: pointer;
}

.mex{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #ffffff;
	background-color: #1877f2;
	font-size: 17px;
	padding: 10px 20px;
	border-radius: 5px;
	height: 22px;
	width: 130px;
	cursor: pointer;
	margin: 10px;
}

.passButton{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #ffffff;
	background-color: #1877f2;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 5px;
	height: 22px;
	width: 130px;
	cursor: pointer;
	margin: 5px;
}

.succMod {
	font-family: 'Ubuntu', sans-serif;
	color: #00cc00;
	font-size: 17px;
}

.popup{
	width: 240px;
	height: 360px;
	background: #ffffff;
	margin: 40px auto;
	padding: 10px 15px;
	position: relative;
	color: #000000;
}


#errMex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 17px;
	color: #f02849;
}

.bi-x-lg{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modifica{
	font-family: 'Ubuntu', sans-serif;
	background-color: #1877f2;
	border: none;
	padding: 10px;
	height: 35px;
	width: 115px;
	border-radius: 5px;
	font-size: 16px;
	color: #ffffff;
	cursor: pointer;
}

.fom input[type=text],.fom input[type=password]{
	border: 1px solid GrayText;
	padding: 10px;
	height: 22px;
	width: 160px;
	margin: 4px;
	border-radius: 10px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}

h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
	color: #1877f2;
}

h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
}
}

@media screen and (max-width: 500px) and (max-height: 675px) {
h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 38px;
	font-weight: bold;
	position: relative;
	top: 25px;
	left: 30px;
}

.bi {
	font-size: 25px;
	color: #1877f2;
}

img.imgImpProfile{
	height: 160px;
	width: 160px;
	border-radius: 50%;
}

.imgProfile{
	height: 150px;
	width: 160px;
}

.delImgIcon{
	position: relative;
	top: -165px;
	right: -40px;
	background-color: white;
	height: 20px;
	width: 20px;
	padding: 6px;
	border-radius: 50%;
}

.bi-x{
	position: absolute;
	left: 2px;
	top: 6px;
	color: #ff0000;
	cursor: pointer;
}

.mex{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #ffffff;
	background-color: #1877f2;
	font-size: 15px;
	padding: 10px 20px;
	border-radius: 5px;
	height: 20px;
	width: 115px;
	cursor: pointer;
	margin: 10px;
}

.passButton{
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	color: #ffffff;
	background-color: #1877f2;
	font-size: 13px;
	padding: 10px 20px;
	border-radius: 5px;
	height: 20px;
	width: 115px;
	cursor: pointer;
	margin: 5px;
}

.succMod {
	font-family: 'Ubuntu', sans-serif;
	color: #00cc00;
	font-size: 15px;
}

.popup{
	width: 220px;
	height: 330px;
	background: #ffffff;
	margin: 40px auto;
	padding: 10px 15px;
	position: relative;
	color: #000000;
}


#errMex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
	color: #f02849;
}

.bi-x-lg{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.modifica{
	font-family: 'Ubuntu', sans-serif;
	background-color: #1877f2;
	border: none;
	padding: 10px;
	height: 32px;
	width: 105px;
	border-radius: 5px;
	font-size: 14px;
	color: #ffffff;
	cursor: pointer;
}

.fom input[type=text],.fom input[type=password]{
	border: 1px solid GrayText;
	padding: 10px;
	height: 20px;
	width: 145px;
	margin: 4px;
	border-radius: 10px;
	font-size: 15px;
	font-family: 'Ubuntu', sans-serif;
}

h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	color: #1877f2;
}

h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}
}

.spazio{
	grid-area: s;
}

.altroSpazio{
	grid-area: a;
	background-color: #e6e6e6;
}

.footer{
	grid-area: f;
}