.grid-container{
	display: grid;
	grid-template-areas:	
	"m c c c c c c c c c s s"
	"m c c c c c c c c c s s"
	"a f f f f f f f f f f f";
	grid-template-rows: 285px 285px 80px;
}

* {
	padding: 0px;
	margin: 0px;
}

@media screen and (max-width: 500px){
	.spazio{
		display: none;
	}
	.altro-spazio{
		display: none;
	}
	.footer{
		display: none;
	}
}

@media screen and (max-width: 500px) and (max-height: 920px){
	.grid-container{
		grid-template-areas:
		"c"
		"m";
		grid-template-rows: 790px 120px;
	}
}

@media screen and (max-width: 500px) and (max-height: 860px){
	.grid-container{
		grid-template-areas:
		"c"
		"m";
		grid-template-rows: 750px 100px;
	}
}

@media screen and (max-width: 500px) and (max-height: 750px){
	.grid-container{
		grid-template-areas:
		"c"
		"m";
		grid-template-rows: 655px 90px;
	}
}

@media screen and (max-width: 500px) and (max-height: 675px){
	.grid-container{
		grid-template-areas:
		"c"
		"m";
		grid-template-rows: 580px 85px;
	}
}

.grid-item{
	background-color: #ffffff;
}

.search-bar{
	position: relative;
	top: 25px;
	left: 30px;
	display:inline-block;
}

.search{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	border: 1px solid #1877f2;
	border-radius: 10px;
	width: 400px;
	height: 40px;
	margin: 5px;
	padding: 5px;
}

.search-button{
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 17px;
}

.results{
	position: relative;
	top: 50px;
	left: 70px;
	overflow-y: auto;
	height: 450px;
}

#usLink{
	text-decoration: none;
	color: inherit;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
}

h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}

.resmex{
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
}

.img-user{
	height: 50px;
	width: 50px;
}

.img-exist-user{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}

.user{
	display: inline-block;
	border: 1px solid #ccc;
	padding: 5px;
	width: 330px;
	border-radius: 10px;
}

.user-of-result{
	display: inline-block;
	left: 10px;
}

.bi {
	font-size: 25px;
	color: #1877f2;
}

@media screen and (max-width: 500px) and (max-height: 920px) {
.search-bar{
	top: 20px;
	left: 10px;
}

.search{
	width: 360px;
	height: 45px;
}

.search-button{
	right: 20px;
	top: 18px;
}

.results{
	top: 50px;
	left: 30px;
	height: 650px;
}

h1{
	font-size: 28px;
	position: relative;
	left: 10px;
}

h2{
	font-size: 20px;
	position: relative;
	left: 10px;
}

.resmex{
	font-size: 25px;
}

.img-user{
	height: 62px;
	width: 62px;
}

.img-exist-user{
	height: 62px;
	width: 62px;
}

.user{
	height: 65px;
	width: 280px;
}	

.bi {
	font-size: 30px;
}
}

@media screen and (max-width: 500px) and (max-height: 860px) {
.search{
	width: 345px;
}

.results{
	height: 610px;
}

.resmex{
	font-size: 23px;
}	

.bi {
	font-size: 28px;
}	
}

@media screen and (max-width: 500px) and (max-height: 750px) {
.search-bar{
	top: 16px;
	left: 10px;
}

.search{
	font-size: 18px;
	width: 315px;
}

.results{
	height: 520px;
}

h1{
	font-size: 24px;
}

h2{
	font-size: 16px;
}

.resmex{
	font-size: 21px;
}

.img-user{
	height: 55px;
	width: 55px;
}

.img-exist-user{
	height: 55px;
	width: 55px;
}

.user{
	height: 55px;
	width: 260px;
}	

.bi {
	font-size: 26px;
}	
}

@media screen and (max-width: 500px) and (max-height: 675px) {
.search{
	width: 320px;
}

.results{
	height: 455px;
}

h1{
	font-size: 22px;
}

h2{
	font-size: 14px;
}

.img-user{
	height: 50px;
	width: 50px;
}

.img-exist-user{
	height: 50px;
	width: 50px;
}

.user{
	height: 50px;
	width: 250px;
}	

.bi {
	font-size: 25px;
}	
}

.bi:hover {
  color: black;
}

.cerca{
	grid-area: c;
}

.spazio{
	grid-area: s;
}

.altro-spazio{
	grid-area: a;
	background-color: #e6e6e6;
}

.footer{
	grid-area: f;
}